<section class="screen-02 scr-edit">
  <div class="scr02-inner">
    <div class="profile-head">
      <p>
        <a ng-click="openNextScreen('sign-in')"><i class="icon-arrow-left "></i> Back</a>
      </p>
    </div>
    <!--/profile-head-->
    <div class="profile-body">
      <div class="pro-heading">

        <h2>Forgot Password</h2>
      </div>
      <!--/pro-heading-->
      <br/>
      <div class="pro-fileds">
        <form name="forgotForm">
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Email</label>
              <md-icon class="fp_email icon-envelope-open"></md-icon>
              <input name="fp_email" ng-model="user.fp_email" required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>
              <div ng-messages="forgotForm.fp_email.$error">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                  Your email must be between 10 and 100 characters long and look like an e-mail address.
                </div>
              </div>
            </md-input-container>
            <div flex="5" hide-xs hide-sm>
              <!-- Spacer //-->
            </div>
          </div>
          <div layout-gt-sm="row" class="text-center">
            <md-button ng-click="forgotFrm()" class="md-raised pro-reg-btn rb-btn" ng-disabled="forgotForm.$invalid" ng-click-options="{preventDoubleClick: true}">
              <md-icon class="icon-lock-open"></md-icon>
              Reset Password
            </md-button>
          </div>
        </form>
      </div>
      <!--/pro-fileds-->
    </div>
    <!--/profile-body-->
  </div>
  <!--/scr02-inner-->
</section>
<!--/screen-01-->
