<section class="screen-02 scr-edit">
  <div class="scr02-inner">
    <div class="profile-head">
      <p>
        <a ng-click="openNextScreen('sign-in')"><i class="icon-arrow-left "></i> Back</a>
      </p>
    </div>
    <!--/profile-head-->
    <div class="profile-body">
      <div class="pro-heading">
        <h2>Reset Password Token</h2>
      </div>
      <!--/pro-heading-->
      <br/>
      <div class="pro-fileds">
        <form name="fpTokenForm">
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Token</label>
              <md-icon class="fp_token icon-key"></md-icon>
              <input name="fp_token" ng-model="user.fp_token" required minlength="6" maxlength="6"/>
              <div ng-messages="fpTokenForm.fp_token.$error">
                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                  Your token must be 6 integers.
                </div>
              </div>
            </md-input-container>
            <div flex="5" hide-xs hide-sm>
              <!-- Spacer //-->
            </div>
          </div>
          <div layout-gt-sm="row" class="text-center">
            <md-button ng-click="fpTokenFrm()" class="md-raised pro-reg-btn rb-btn" ng-disabled="fpTokenForm.$invalid" ng-click-options="{preventDoubleClick: true}">
              <md-icon class="icon-lock-open"></md-icon>
              Check Token
            </md-button>
          </div>
        </form>
      </div>
      <!--/pro-fileds-->
    </div>
    <!--/profile-body-->
  </div>
  <!--/scr02-inner-->
</section>
<!--/screen-01-->
