<section class="screen-02 scr-edit">
  <div class="scr02-inner">
    <div class="profile-head">
      <p>
        <a ng-click="openNextScreen('sign-in')"><i class="icon-arrow-left "></i> Back</a>
      </p>
    </div>
    <!--/profile-head-->
    <div class="profile-body">
      <div class="pro-heading">
        <h2>Reset Your Password</h2>
      </div>
      <!--/pro-heading-->
      <br/>
      <div class="pro-fileds">
        <form name="fpResetPassForm">
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>New Password</label>
              <md-icon class="fp_reset_password icon-lock"></md-icon>
              <input name="fp_reset_password" ng-model="user.fp_reset_password" required type="password"/>
              <div ng-messages="fpResetPassForm.fp_reset_password.$error">
                <div ng-message-exp="['required']">
                  This field is required
                </div>
              </div>
            </md-input-container>
            <div flex="5" hide-xs hide-sm>
              <!-- Spacer //-->
            </div>
          </div>
          <div layout-gt-sm="row" class="text-center">
            <md-button ng-click="fpResetPass()" class="md-raised pro-reg-btn rb-btn" ng-disabled="fpResetPassForm.$invalid" ng-click-options="{preventDoubleClick: true}">
              <md-icon class="icon-lock-open"></md-icon>
              Reset Password
            </md-button>
          </div>
        </form>
      </div>
      <!--/pro-fileds-->
    </div>
    <!--/profile-body-->
  </div>
  <!--/scr02-inner-->
</section>
<!--/screen-01-->
