      <section class="screen-01">
       <div class="scr01-inner">
          <div class="inner-overlay">
           <div class="content-box">
              <h1 class="head-text">Your daily dose of inspiring people to meet </h1>
               <h6 class="note-linkedin"><i class="icon-info"></i>We don't publish or send messages on Linkedin</h6>
              <div class="inbtnbox">
               <a href="javascript:;" class="login-linkedin" ng-click="loginLinkedin()"><i class="icon-social-linkedin"></i><span>Sign in with Linkedin</span> </a>
               </div><!--/inbtnbox-->
               <div class="divd-or">
               <span>OR</span>
               </div><!--/divd-or-->
               <div class="emialbtnbox">
               <a href="javascript:;" ng-click="openNextScreen('sign-up')"><i class="icon-envelope-open"></i><span>Continue with Email</span> </a>
               </div><!--/inbtnbox-->
               <div class="privacy-text">
               <p>When you sign in you agree with our <a href="#">Terms of use </a> and <a href="#">Privacy Policy</a></p>
               </div>
              </div><!--/content-box-->

           </div><!--/inner-overlay-->

          </div><!--/scr01-inner-->
      </section><!--/screen-01-->
