<section class="screen-02 scr-edit">
  <div class="scr02-inner">
    <div class="profile-head">
      <p>
        <a href="#" class="backScreen" backScreen="screen-01.html"><i class="icon-arrow-left "></i> Back</a>
      </p>
    </div>

    <!--/profile-head-->
    <div class="profile-body">
      <div class="pro-heading">

        <h2>Create an Account</h2>
      </div>
      <!--/pro-heading-->
      <br/>
      <div class="pro-fileds">
        <form name="regForm">
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Name</label>
              <md-icon class="rg_name icon-user"></md-icon>
              <input required name="rg_name" ng-model="user.rg_name" />
              <div ng-messages="regForm.rg_name.$error">
                <div ng-message="required">Name is required.</div>
              </div>
            </md-input-container>
            <div flex="5" hide-xs hide-sm>
              <!-- Spacer //-->
            </div>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Email</label>
              <md-icon class="rg_email icon-envelope-open"></md-icon>
              <input name="rg_email" ng-model="user.rg_email" required minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" placeholder="aharongal@gmail.com"/>
              <div ng-messages="regForm.rg_email.$error">
                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                  Your email must be between 10 and 100 characters long and look like an e-mail address.
                </div>
              </div>
            </md-input-container>
            <div flex="5" hide-xs hide-sm>
              <!-- Spacer //-->
            </div>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Create Password</label>
              <md-icon class="rg_pass icon-lock"></md-icon>
              <input name="rg_pass" type="password" required ng-model="user.rg_pass" />
              <div ng-messages="regForm.rg_pass.$error">
                <div ng-message="required">Password not Empty</div>
              </div>
            </md-input-container>
            <div flex="5" hide-xs hide-sm>
              <!-- Spacer //-->
            </div>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Confirm Password</label>
              <md-icon class="rg_cpass icon-lock"></md-icon>
              <input name="rg_cpass" type="password" compare-to="user.rg_pass" required ng-model="user.rg_cpass" />
              <div ng-messages="regForm.rg_cpass.$error">
                <div ng-message="compare-to">Password not matched</div>
              </div>
            </md-input-container>
            <div flex="5" hide-xs hide-sm></div>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<md-checkbox ng-model="user.data_save" aria-label="Save Data" class="md-warn">
              Save Data
            </md-checkbox>
            <div flex="5" hide-xs hide-sm></div>
          </div>
          <div layout-gt-sm="row" class="text-center">
            <md-button ng-click="registrationForm()" class="md-raised pro-reg-btn rb-btn" ng-disabled="regForm.$invalid" ng-click-options="{preventDoubleClick: true}">
              <md-icon class="icon-login"></md-icon>
              Sign up
            </md-button>
          </div>
        </form>
      </div>
      <!--/pro-fileds-->
    </div>
    <!--/profile-body-->
  </div>
  <!--/scr02-inner-->
</section>
<!--/screen-01-->
