<section class="screen-05">
  <div class="scr05-inner">
    <div class="chating-menu">
      <div class="cm-inner">
        <div class="mobile-bar">
          <a ng-click="sideNavOpen()" id="menu"><i  class="icon-menu"></i></a>
        </div>
        <!--/mobile-bar-->
        <div class="logo">
          <img src="assets/image/logo-white.png" />
        </div>
        <!--/logo-->
        <div class="user-pic">
          <img ng-src="{{userData.user_pic_thumb}}" />
        </div>
        <!--/user-pic-->
        <div class="clearfix"></div>
        <div class="search-filed">
          <div class="srcfld-inner">
            <input type="text" class="form-control" placeholder="Write Here..." />
            <span><i class="icon-close"></i></span>
          </div>
          <!--/srcfld-inner-->
        </div>
        <!--/search-filed-->
      </div>
      <!--/cm-inner-->

    </div>
    <!--/chating-menu-->
    <div class="chating-group">
      <h1>You are here : <span> {{curGrpDetails.group_name}}</span></h1>
    </div>
    <!--/chating-group-->
    <div class="chating-body"  scroll-to-bottom="Messages[chatId]">
      <div class="cb-inner">
        <div ng-class="{true: 'cbi-me',false:'cbi-user' }[cgM.send_by == userData.ID]" ng-repeat="cgM in Messages[chatId]  track by $index">
          <div ng-class="{true: 'cbime-inner',false:'cbiuser-inner' }[cgM.send_by == userData.ID]">
            <div class="cbiuseri-imgcon" ng-if="cgM.send_by != userData.ID">
              <img class="z-depth-3" ng-src="{{cgM.send_user_pic}}">
            </div>
            <md-button class="md-raised cbiuseri-pm" ng-click="openPrivateChat(cgM.send_by)" aria-label="Private Message" ng-if="cgM.send_by != userData.ID">
              <i class="z-depth-2 icon-bubble"></i>
            </md-button>
            <!--/cbimei-imgcon-->
            <div ng-class="{true: 'cbimei-name',false:'cbiuseri-name' }[cgM.send_by == userData.ID]">
              <h5 ng-if="cgM.send_by != userData.ID">{{cgM.send_user_name}} - <span>{{cgM.send_on}}</span></h5>
              <h5 ng-if="cgM.send_by == userData.ID"><span>{{cgM.send_on}}</span></h5>
            </div>
            <!--/cbimei-name-->
            <div ng-class="{true: 'cbimei-chat',false:'cbiuseri-chat' }[cgM.send_by == userData.ID]">
              <p ng-bind-html="dTDS(cgM.msg_text)"></p>
              <div ng-if="cgM.is_file_attached == 1" ng-class="{true: 'cbimei-location',false:'cbiuseri-location' }[cgM.send_by == userData.ID]">
                <img ng-src="{{cgM.media_url}}" images-loaded>
              </div>
              <!--/cbimei-location-->
            </div>
            <!--/cbimei-chat-->
          </div>
          <!--/cbime-inner-->
        </div>
        <!--/cbi-user-->
      </div>
      <!--/cb-inner-->
    </div>
    <!--/chating-body-->
    <div class="cb-nms-tt" ng-show="cbNmsTt">
      {{cbNTc}} new messages
    </div>
    <!--/cb-nms-tt-->
    <div class="chating-footer">
      <div class="cf-typebox">
        <div class="cf-atchshow">
          <ul>
            <li>
              <span class="icon-close "></span>
              <img src="assets/image/bg.jpg" />
            </li>
          </ul>
        </div>
        <!--/cf-atchshow-->
        <!-- <div class="cf-fileatch">
          <label>

                 <input class="cffa-file"   multiple="" type="file">
                </i>

                </label>
        </div> -->
        <!--/cf-fileatch-->
        <div class="media-attached-wrapper" ng-show="mediaU.src">
          <div class="maW-item">
            <img ng-src="{{mediaU.src}}" />
            <span ng-click="mediaRemove()"><i class="icon-close"></i></span>
          </div>
        </div>
        <div class="file-attach-wrapper" ng-show="faw">
          <div class="faw-item">
            <div class="faw-item-content">
              <i class="icon-camera" ng-click="cameraUpload()"></i>
              <span>Camera</span>
            </div>
          </div>
          <div class="faw-item">
            <div class="faw-item-content">
              <i class="icon-picture" ng-click="galleryUpload()"></i>
              <span>Gallery</span>
            </div>
          </div>
        </div>
        <textarea class="form-control main-msg-bx" placeholder="Write Here....."  aria-label="Write Here....." ng-model="dsdMsg" send-on-enter></textarea>
        <md-button class="md-raised cf-fileatch" aria-label="Attach Media" ng-click="openMediaCapture()"><i class="z-depth-2 icon-paper-clip"></i></md-button>
        <md-button class="md-raised md-warn cf-btn" aria-label="Send" ng-click="sendOnClick()"><i class="icon-rocket"></i></md-button>
      </div>
      <!--/cf-typebox-->
    </div>
    <!--/chating-footer-->
  </div>
  <!--/scr05-inner-->
</section>
<!--/screen-05-->
<!--/screen-01-->
