<section class="screen-02 scr-edit">
  <div class="scr02-inner">
    <div class="profile-head">
      <p><a href="#" class="backScreen"><i class="icon-arrow-left "></i> Edit Profile</a></p>
    </div>
    <!--/profile-head-->
    <div class="profile-body">
      <div class="proimg">
        <span>
          <img class="blur profilePic" src="assets/image/avatar-10.jpg">
          <label for="profile_pic"><i class="icon-camera"></i></label>
          <input type="file" class="hide" name="profile_pic" id="profile_pic" accept="image/*" capture="camera"/>
        </span>
      </div>
      <!--/proimg-->
      <div class="pro-fileds">
        <form method="post">
          <div class="row">
            <div class="col s12 m12">
              <md-input-container class="md-block" flex-gt-sm>
                <label for="fname">First Name</label>
                <md-icon class="icon-user prefix"></md-icon>
                <input id="fname" type="text" class="validate" value="{{userData.first_name}}" ng-model="userData.first_name">
              </md-input-container>
              <!--/input-field-->
            </div>
            <!--/m12-->
            <div class="col s12 m12">
              <md-input-container class="md-block" flex-gt-sm>
                <label for="lname">Last Name</label>
                <md-icon class="icon-user prefix"></md-icon>
                <input id="lname" type="text" class="validate" value="{{userData.last_name}}" ng-model="userData.last_name">
              </md-input-container>
              <!--/input-field-->
            </div>
            <!--/m12-->
            <div class="col s12 m12">
              <md-input-container class="md-block" flex-gt-sm>
                <label for="emialid">Email</label>
                <md-icon class="icon-envelope-open prefix"></md-icon>
                <input id="emialid" type="text" class="validate" value="{{userData.user_email}}" ng-model="userData.user_email">
              </md-input-container>
              <!--/input-field-->
            </div>
            <!--/m12-->
            <div class="col s12 m12">
              <md-input-container class="md-block" flex-gt-sm>
                <label for="curpos">Country</label>
                <md-icon class="icon-globe prefix"></md-icon>
                <md-select ng-model="userData.country" placeholder="Choose your Country" class="validate select-country">
                  <md-option value="juice">Juice</md-option>
                  <md-option value="milk">Milk</md-option>
                  <md-option value="wine">Wine</md-option>
                  <md-option value="mead">Mead</md-option>
                </md-select>
              </md-input-container>
            </div>
            <!--/m12-->
            <div class="col s12 m12">
              <md-input-container class="md-block" flex-gt-sm>
                <label for="curpos">Headline</label>
                <md-icon class="icon-pin prefix"></md-icon>
                <input id="headline" type="text" class="validate" value="{{userData.headline}}" ng-model="userData.headline">
              </md-input-container>
              <!--/input-field-->
            </div>
            <!--/m12-->
            <div class="col s12 m12">
              <md-input-container class="md-block" flex-gt-sm>
                <label for="curpos">Current Position</label>
                <md-icon class="icon-briefcase prefix"></md-icon>
                <input id="curpos" type="text" class="validate" value="{{userData.current_position}}" ng-model="userData.current_position">
              </md-input-container>
              <!--/input-field-->
            </div>
            <!--/m12-->
            <div class="col s12 m12">
              <md-input-container class="md-block" flex-gt-sm>
                <label for="interests">Interests</label>
                <md-icon class="icon-trophy prefix"></md-icon>
                <input id="interests" type="text" class="validate" value="{{userData.interests}}" ng-model="userData.interests">
              </md-input-container>
              <!--/input-field-->
            </div>
            <!--/m12-->
            <div class="col s12 m12">
              <div class="input-field">
                <div layout-gt-sm="row" class="text-center">
                  <md-button class="md-raised pro-reg-btn rb-btn modal-trigger pro-save">
                    <md-icon class="icon-cloud-upload"></md-icon>
                    Save Profile
                  </md-button>
                </div>
              </div>
              <!--/input-field-->
            </div>
            <!--/m12-->


          </div>
          <!--/row-->

        </form>


      </div>
      <!--/pro-fileds-->



    </div>
    <!--/profile-body-->
  </div>
  <!--/scr02-inner-->
</section>
<!--/screen-01-->


<!--/***** Modal for GPS and notication *******/-->

<!-- Modal Structure -->
<div id="continue-modal" class="md-dialog-container">
  <md-dialog layout-padding>
    <div class="allmod-inner">
      <span class="modal-close allmod-close"><i class="icon-close"></i></span>
      <h2>Allow</h2>
      <div class="allmod-switch ams-divd">
        <div class="row">
          <div class="col s6 m6">
            <h6>Push Notifications</h6>
          </div>
          <!--/m6-->
          <div class="col s6 m6">
            <div class="switch">
              <label>
                  <em>No</em>
                  <md-switch ng-model="userData.notification_on"></md-switch>
                  <!-- <input type="checkbox" >
                  <span class="lever"></span> -->
                  <em>Yes</em>
              </label>
            </div>
          </div>
          <!--/m6-->
          <div class="clearfix"></div>
          <div class="col s12 m12">
            <p class="allmod-note"></p>
          </div>
          <!--/m12-->
          <div class="clearfix"></div>
        </div>
        <!--/row-->
      </div>
      <!--/allmod-switch-->
      <div class="allmod-switch">
        <div class="row">
          <div class="col s6 m6">
            <h6>GPS</h6>
          </div>
          <!--/m6-->
          <div class="col s6 m6">
              <div class="switch">
                <label>
                  <em>No</em>
                  <md-switch ng-model="userData.gps_on"></md-switch>
                  <!-- <input type="checkbox" checked>
                  <span class="lever"></span> -->
                  <em>Yes</em>
                </label>
              </div>
          </div>
          <!--/m6-->
          <div class="clearfix"></div>
          <div class="col s12 m12">
            <p class="allmod-note">Note:- Its important your location, allow GPS location? Yes / No</p>
          </div>
          <!--/m12-->
          <div class="clearfix"></div>
        </div>
        <!--/row-->
      </div>
      <!--/allmod-switch-->
      <div class="allmod-btncon">
        <button type="button" class="waves-effect waves-light btn z-depth-3 allmod-save">Continue</button>
      </div>
      <!--/allmod-btncon-->
    </div>
  </md-dialog>
  <div class="modal-content">
    <div class="allmod-inner">
      <span class="modal-close allmod-close"><i class="icon-close"></i></span>
      <h2>Allow</h2>
      <div class="allmod-switch ams-divd">
        <div class="row">
          <div class="col s6 m6">
            <h6>Push Notifications</h6>
          </div>
          <!--/m6-->
          <div class="col s6 m6">
            <div class="switch">
              <label>
                  <em>No</em>
                  <md-switch ng-model="userData.notification_on"></md-switch>
                  <!-- <input type="checkbox" >
                  <span class="lever"></span> -->
                  <em>Yes</em>
              </label>
            </div>
          </div>
          <!--/m6-->
          <div class="clearfix"></div>
          <div class="col s12 m12">
            <p class="allmod-note"></p>
          </div>
          <!--/m12-->
          <div class="clearfix"></div>
        </div>
        <!--/row-->
      </div>
      <!--/allmod-switch-->
      <div class="allmod-switch">
        <div class="row">
          <div class="col s6 m6">
            <h6>GPS</h6>
          </div>
          <!--/m6-->
          <div class="col s6 m6">
              <div class="switch">
                <label>
                  <em>No</em>
                  <md-switch ng-model="userData.gps_on"></md-switch>
                  <!-- <input type="checkbox" checked>
                  <span class="lever"></span> -->
                  <em>Yes</em>
                </label>
              </div>
          </div>
          <!--/m6-->
          <div class="clearfix"></div>
          <div class="col s12 m12">
            <p class="allmod-note">Note:- Its important your location, allow GPS location? Yes / No</p>
          </div>
          <!--/m12-->
          <div class="clearfix"></div>
        </div>
        <!--/row-->
      </div>
      <!--/allmod-switch-->
      <div class="allmod-btncon">
        <button type="button" class="waves-effect waves-light btn z-depth-3 allmod-save">Continue</button>
      </div>
      <!--/allmod-btncon-->
    </div>
    <!--/allmod-inner-->
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
