<section class="screen-05">
  <div class="scr05-inner">
    <div ng-include="'menu.html'"></div>
    <!--/chating-menu-->
    <div class="chating-group">
      <h1><span> Private Messages</span></h1>
    </div>
    <div class="userlist-pm">
      <div class="delete-chat">
        <md-button class="md-raised dc-btn" ng-show="selectedChats" ng-click="delete_selected_chat()" aria-label="Delete Chat">
          <i class="icon-trash"></i>
        </md-button>
      </div>
      <!--/delete-chat-->
      <ul>
        <li ng-repeat="pcl in private_chat_ist" ng-class="{delete:pcl.deleteThis == true}">
          <div class="chk-box" ng-if="pcl.deleteThis == true">
            <p ng-click="private_chat_ist[$index].deleteThis = !private_chat_ist[$index].deleteThis">
              <md-checkbox ng-model="private_chat_ist[$index].deleteThis" aria-label="delete-{{$index}}"></md-checkbox>
            </p>
          </div>
          <a on-long-press="onLongPress($index)" on-touch-end="open_private_chat(pcl.chat_id)">
            <div class="ulpm-imgcon">
              <img ng-src="{{pcl.user_pic}}"/>
              <em ng-class="{true:'online',false:'offline'}[pcl.is_online == 1]"></em>
            </div>
            <!--/ulpm-imgcon-->
            <div class="ulpm-txtcon">
              <span>{{pcl.send_on}}</span>
              <h2>{{pcl.name}}</h2>
              <p>{{pcl.msg_text}}</p>
            </div>
            <!--/ulpm-txtcon-->
            <div class="clearfix"></div>
          </a>
        </li>
      </ul>
    </div>
    <!--/userlist-pm-->
  </div>
  <!--/scr05-inner-->
</section>
<!--/screen-05-->
<!--/screen-01-->
